body{
    margin:0px;
}
.sec-1{
    background-color: #4E9F3D;
    width: 100%;
    height: 200px;
}
.text{
    position: relative;
    width: 33.33%;
    margin-left: 33.33%;
    
}
img{
    width: 50%;
    margin-top: 0.01%;
    float: right;

}
.sec-2{
    width: 100%;
    top: 20%;
    margin-top: 5px;
    height: 250px;
    margin-bottom: 0%;
}
.end{
    background-color: black;
    width: 100%;
    height: 200px;
    
}